.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: rgba(27, 26, 26, 0.904);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .modalButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .modalButtons button {
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .modalButtons button:hover {
    color: blanchedalmond;
    background-color: rgb(25, 26, 1);
  }
  
  .modalButtons button.cancelBtn {
    background-color: transparent;
    color: rgb(250, 245, 245);
  }