.userBox {
  display: flex;
  gap: 32px;
  border: 1px solid #94e9b9;
  border-radius: 4px;
  width: 250px;
  color: #ffffffd8;
  padding-right: 8px;
}
.userContact {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.deleteBtn {
  border-color: rgb(208, 193, 175);
  border-radius: 5px;
  align-self: center;
  padding: 4px 8px;
  margin-left: auto;
  background-color: transparent;
  color: rgb(26, 196, 91);
  cursor: pointer;
}

.deleteBtn:hover {
  color: blanchedalmond;
}